/***PALETE COLORI SITO WEB ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #58402c;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
}

header #wrapMenu {
  display: flex;
  height: 100%;
  border-bottom: 1px solid grey;
}

header #wrapMenu #wrapLogo {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}

header #wrapMenu #wrapNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}

header #wrapMenu #wrapNav ul {
  list-style-type: none;
}

header #wrapMenu #wrapNav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
  font-weight: bold;
}

header #wrapMenu #wrapNav button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
  background-color: #fff;
  color: #30488f;
  border-radius: 5px;
  border: 1px solid #30488f;
  font-weight: bold;
}

header #wrapMenu #wrapNav button i {
  margin-right: 10px;
}

