@mixin btnBaseBlu {
  background-color: $bluTesto;
  color: $bianco;
  font-size: 13px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid $bluTesto;
};
