#sectionQuattro {
  background-color: $rosa;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  padding-left: 280px;
  padding-right: 280px;
  h2{
    padding-top: 80px;
    text-align: center;
    font-size: 35px;
    padding-bottom: 80px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .box {
    background-color: $bianco;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;

      p {
        padding: 30px;
      }
      & .wrapPhotoText {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        .foto {
          margin-right: 10px;
          img {
            height: 38px;
          }
        }
      }
  }
}
